.result {
  display: none;
  text-align: center;
}

#cup {
  display: block;
  float: left;
  width: 30%;
}

.jumbotron {
  font-family: 'Catamaran', sans-serif;
  background-color: #8aa28c;
}

.survey {
  display: block;
  text-align: center;
}

.button {
  margin-top: 50px;
}

body {
  background-color: #8aa28c;
}

.panel-body {
  background-color: #8892a5;
}

#name {
  text-align: center;
}
